<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddedDate</key>
	<date>2023-10-20T03:09:28Z</date>
	<key>AddedBy</key>
	<string>mlebd</string>
	<key>Application</key>
	<dict>
		<key>AppPkgs</key>
		<array>
			<string>Xcode.app/Contents/Developer/Applications/Simulator.app</string>
		</array>
		<key>AppName</key>
		<string>Simulator</string>
	</dict>
	<key>Icons</key>
	<array>
		<dict>
			<key>IconPath</key>
			<string>simulator.icns</string>
			<key>IconType</key>
			<string>Flat</string>
		</dict>
		<dict>
			<key>IconPath</key>
			<string>simulator2.icns</string>
			<key>IconType</key>
			<string>Skeuomorphic</string>
		</dict>
		<dict>
			<key>IconPath</key>
			<string>simulator3.icns</string>
			<key>IconType</key>
			<string>Modern</string>
		</dict>
	</array>
	<key>Sources</key>
	<array>
		<string>https://developer.apple.com/download/</string>
	</array>
</dict>
</plist>
