<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddedDate</key>
	<date>2023-11-04T17:37:37Z</date>
	<key>AddedBy</key>
	<string>mlebd</string>
	<key>Application</key>
	<dict>
		<key>AppPkgs</key>
		<array>
			<string>Keka.app</string>
		</array>
		<key>AppName</key>
		<string>Keka</string>
	</dict>
	<key>Icons</key>
	<array>
		<dict>
			<key>IconPath</key>
			<string>Keka.icns</string>
			<key>IconType</key>
			<string>Flat</string>
		</dict>
	</array>
	<key>Sources</key>
	<array>
		<string>https://www.keka.io/ru/</string>
	</array>
</dict>
</plist>
