<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddedDate</key>
	<date>2023-10-25T08:15:09Z</date>
	<key>AddedBy</key>
	<string>mlebd</string>
	<key>Application</key>
	<dict>
		<key>AppPkgs</key>
		<array>
			<string>Tor Browser.app</string>
		</array>
		<key>AppName</key>
		<string>Tor Browser</string>
	</dict>
	<key>Icons</key>
	<array>
		<dict>
			<key>IconPath</key>
			<string>tor2.icns</string>
			<key>IconType</key>
			<string>Flat</string>
		</dict>
		<dict>
			<key>IconPath</key>
			<string>tor.icns</string>
			<key>IconType</key>
			<string>Skeuomorphic</string>
		</dict>
	</array>
	<key>Sources</key>
	<array>
		<string>https://archive.torproject.org/tor-package-archive/torbrowser/</string>
	</array>
</dict>
</plist>
