<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddedDate</key>
	<date>2023-11-04T17:42:30Z</date>
	<key>AddedBy</key>
	<string>mlebd</string>
	<key>Application</key>
	<dict>
		<key>AppPkgs</key>
		<array>
			<string>Inkscape.app</string>
		</array>
		<key>AppName</key>
		<string>Inkscape</string>
	</dict>
	<key>Icons</key>
	<array>
		<dict>
			<key>IconPath</key>
			<string>inkscape.icns</string>
			<key>IconType</key>
			<string>Flat</string>
		</dict>
	</array>
	<key>Sources</key>
	<array>
		<string>https://inkscape.org/</string>
	</array>
</dict>
</plist>
